<div class="container-fluid">
    <div class="row">
        <div class="col-6 p-0">
            <img src="login.png" class="img-fluid  vh-100" alt="Responsive image">

        </div>
        <div class="col-4 vh-100 login-panel">
            <div></div>
            <div class="login-card w-100">
                <h2 class="ma-text-yellow text-center">Welcomes You.!</h2>
                <br><br>
                <form  [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3 input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-person"></i></span>
                        <input type="text" formControlName="userName" class="form-control" placeholder="User Name" required>
                    </div>
                    <div class="mb-3 input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-lock"></i></span>
                        <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button [disabled]="loginForm.value.disableSubmit" type="submit" class="my-4 w-100 btn">
                        @if(loginForm.value.disableSubmit){
                            <div class="spinner-border text-light mx-3" role="status"></div>
                        } @else {
                            <span>Login</span>
                        }
                    </button>
                </form>
            </div>
            <div></div>
        </div>
    </div>
</div>
