<div class="container-fluid">
    <form [formGroup]="batchForm" (ngSubmit)="createBatch()">
        <div class="card my-4">
            <h5 class="card-header">Batch Details</h5>
            <div class="card-body">
                <div class="form-group row py-2">
                    <label for="name" class="col-2 col-form-label col-form-label">Batch Number :</label>
                    <div class="col-4">
                        <input formControlName="name" class="form-control form-control" id="name"
                            placeholder="Batch Number">
                    </div>
                </div>
            </div>
            @if(hasAnalyzer$ | async){
            <h6 class="card-header">Analyzer Results</h6>
            <div class="card-body">
                <div class="form-group row py-2">
                    <label for="fat" class="col-2 col-form-label col-form-label">Fat (%) :</label>
                    <div class="col-2">
                        <input type="number" formControlName="fat" class="form-control form-control" id="fat"
                            placeholder="Fat %">
                    </div>
                    <div class="col-2"></div>
                    <label for="protein" class="col-2 col-form-label col-form-label">Protein (%) :</label>
                    <div class="col-2">
                        <input type="number" formControlName="protein" class="form-control form-control" id="protein"
                            placeholder="Protein %">
                    </div>

                </div>
                <div class="form-group row py-2">
                    <label for="snf" class="col-2 col-form-label col-form-label">SNF (%) :</label>
                    <div class="col-2">
                        <input type="number" formControlName="snf" class="form-control form-control" id="snf"
                            placeholder="SNF %">
                    </div>
                    <div class="col-2"></div>
                    <label for="lactose" class="col-2 col-form-label col-form-label">Lactose (%) :</label>
                    <div class="col-2">
                        <input type="number" formControlName="lactose" class="form-control form-control" id="lactose"
                            placeholder="Lactose %">
                    </div>
                </div>
                <div class="form-group row py-2">

                    <label for="den" class="col-2 col-form-label col-form-label">Den :</label>
                    <div class="col-2">
                        <input type="number" formControlName="den" class="form-control form-control" id="den"
                            placeholder="Den">
                    </div>
                    <div class="col-2"></div>
                    <label for="sol" class="col-2 col-form-label col-form-label">Sol (%) :</label>
                    <div class="col-2">
                        <input type="number" formControlName="sol" class="form-control form-control" id="sol"
                            placeholder="Sol %">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="temp" class="col-2 col-form-label col-form-label">Temp (C) :</label>
                    <div class="col-2">
                        <input type="number" formControlName="temp" class="form-control form-control" id="temp"
                            placeholder="Temperature in Celcius">
                    </div>
                    <div class="col-2"></div>
                    <label for="fp" class="col-2 col-form-label col-form-label">FP (C) :</label>
                    <div class="col-2">
                        <input type="number" formControlName="fp" class="form-control form-control" id="fp"
                            placeholder="FP">
                    </div>
                </div>
                <div class="form-group row py-2">

                    <label for="calories" class="col-2 col-form-label col-form-label">Calories :</label>
                    <div class="col-2">
                        <input type="number" formControlName="calories" class="form-control form-control" id="calories"
                            placeholder="Calories">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="analyzerReportFormFile" class="col-2 col-form-label">Analyzer Report: </label>
                    @if(!batchForm.value.analyzerReportPath && type !== "VIEW"){
                    <div class="col-4">
                        <input class="form-control" type="file" id="analyzerReportFormFile" #analyzerReportFile>
                    </div>
                    }
                    <div class="col">
                        @if(batchForm.value.analyzerReportPath){
                        {{batchForm.value.analyzerReportPath | filename}}
                        <button type="button" (click)="downloadFile(batchForm.value.analyzerReportPath)"
                            class="btn mx-2">Download</button>
                        }
                        @if(type !== "VIEW"){
                        <button type="button" (click)="clearAnalyzerFile()" class="btn">Clear</button>
                        }
                    </div>
                </div>
            </div>
            }
            <h6 class="card-header">Pasteurization Results</h6>
            <div class="card-body">
                <div class="form-group row py-2">
                    <label for="pasteurization" class="col-2 col-form-label col-form-label">Result :</label>
                    <div class="col-2">
                        <select class="form-select" name="pasteurization" id="pasteurization"
                            formControlName="pasteurization">
                            <option value="NO_RESULT">No Result</option>
                            <option value="POSITIVE">Positive</option>
                            <option value="NEGATIVE">Negative</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="pasteurizationReportFormFile" class="col-2 col-form-label">Pasteurization Report:
                    </label>
                    @if(!batchForm.value.pasteurizationReportPath && type !== "VIEW"){
                    <div class="col-4">
                        <input class="form-control" type="file" id="pasteurizationReportFormFile"
                            #pasteurizationReportFile>
                    </div>
                    }
                    <div class="col">
                        @if(batchForm.value.pasteurizationReportPath){
                        {{batchForm.value.pasteurizationReportPath | filename}}
                        <button type="button" (click)="downloadFile(batchForm.value.pasteurizationReportPath)"
                            class="btn mx-2">Download</button>
                        }
                        @if(type !== "VIEW"){
                        <button type="button" (click)="clearPasteurizationFile()" class="btn">Clear</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-left my-4">
            @if(type === "NEW"){
            <button type="submit" class="btn"><i class="bi bi-plus"></i>Add Batch</button>
            } @if(type === "EDIT") {
            <button type="submit" class="btn"><i class="bi bi-pencil"></i> Update Batch</button>
            }
            <button type="button" routerLink="/batch" class="btn mx-2">Back</button>
        </div>
    </form>

</div>