/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";


// $ma-brown: $orange-800;
// $ma-brown-toggle: $orange-600;
// $ma-gray: $gray-300;
$ma-yellow: #dfb031;
$ma-brown: #422400;
$ma-white: white;
$ma-black: black;
$ma-gray: #ebebeb;
$ma-brown-50: #704b1e;

:root {
    --ma-yellow: #{$ma-yellow};
    --ma-brown-50: #{$ma-brown-50};
    // --ma-grey: #{$ma-gray};
}

// .ma-bg-gray{
//     background-color: $ma-gray;
//     color: rgb(0, 0, 0) 
// }

.ma-bg-brown{
    background-color: $ma-brown
}

.ma-text-white{
    color: $ma-white
}

.ma-text-yellow{
    color: $ma-yellow
}

.ma-text-brown-50{
    color: $ma-brown-50
}

// .ma-btn-brown{
//     color: $ma-white;
//     background-color: $ma-brown;
// }

// .ma-btn-brown:hover, .btn:active{
//     color: $ma-white;
//     background-color: $ma-brown-50;
// }

.ma-table-header{
    --bs-table-bg: #{$ma-yellow};
}

.btn {
    --bs-btn-color: #{$ma-white};
    --bs-btn-active-color: #{$ma-white};
    --bs-btn-hover-color: #{$ma-white};
    --bs-btn-bg: #{$ma-brown};
    --bs-btn-active-bg: #{$ma-brown};
    --bs-btn-hover-bg: #{$ma-brown-50};
}
// .ma-text-brown{
//     color: $ma-brown
// }

// .ma-text-brown-toggle{
//     color: $ma-brown-toggle
// }

.form-check-input:checked {
    background-color: var(--ma-brown-50);
    border-color: var(--ma-brown-50);
}

.form-control:focus {
    box-shadow: 0 0 0.25rem 0.1rem var(--ma-yellow);
    border-color: var(--ma-yellow);
}

.form-check-input:focus{
    box-shadow: 0 0 0 0.1rem var(--ma-yellow);
}

.card-header:first-child {
    border-radius: 0;
}

.card{
    --bs-card-border-radius: 0;
}

.card-header{
    background-color: var(--ma-yellow);
    color: var(--ma-brown-50);
}


.table-border{
    border: 1px groove black;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

.pagination{
    --bs-pagination-padding-x: 1rem;
    --bs-pagination-color: black;
    --bs-pagination-active-color: white;
    --bs-pagination-hover-color: var(--ma-brown-50);
    --bs-pagination-active-bg: var(--ma-brown-50);
    --bs-pagination-bg: white;
    --bs-pagination-active-border-color: var(--ma-brown-50)
}