<div class="container-fluid">
    <form [formGroup]="babyForm" (ngSubmit)="createBaby()">
        <div class="card my-4">
            <h5 class="card-header">Recipient Registration Form</h5>
            <div class="card-body">
                <div class="form-group row py-2">
                    <label for="reg_num" class="col-2 col-form-label col-form-label">Registration Number :</label>
                    <div class="col-4">
                        <input formControlName="regNumber" class="form-control form-control" id="reg_num"
                            placeholder="Registration Number">
                    </div>
                    <label for="reg_date" class="col-2 col-form-label col-form-label">Registration Date :</label>
                    <div class="col-4">
                        <input formControlName="regDate" id="reg_date" class="form-control" type="datetime-local" />
                    </div>
                </div>
            </div>
            <h6 class="card-header">Recipient Details</h6>
            <div class="card-body">
                <div class="form-group row py-2">
                    <label for="name" class="col-2 col-form-label col-form-label">Recipient Name :</label>
                    <div class="col-4">
                        <input formControlName="name" class="form-control form-control" id="name" placeholder="Name">
                    </div>
                    
                </div>
                <div class="form-group row py-2">
                    <label for="age" class="col-2 col-form-label col-form-label">Age (in months):</label>
                    <div class="col-2">
                        <input type="number" formControlName="age" class="form-control form-control" id="age" placeholder="Age">
                    </div>
                    <div class="col-2"></div>
                    <label for="sex" class="col-2 col-form-label col-form-label">Sex :</label>
                    <div class="col-2">
                        <input formControlName="sex" class="form-control form-control" id="sex" placeholder="Male/Female">
                    </div>
                    
                </div>
                <div class="form-group row py-2">
                    <label for="birthWeight" class="col-2 col-form-label col-form-label">Birth Weight (g) :</label>
                    <div class="col-2">
                        <input type="number" formControlName="birthWeight" class="form-control form-control" id="birthWeight">
                    </div>
                    <div class="col-2"></div>
                    <label for="currentWeight" class="col-2 col-form-label col-form-label">Present Weight (g) :</label>
                    <div class="col-2">
                        <input type="number" formControlName="currentWeight" class="form-control form-control" id="currentWeight">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="motherName" class="col-2 col-form-label col-form-label">Mother Name :</label>
                    <div class="col-4">
                        <input formControlName="motherName" class="form-control form-control" id="motherName"
                            placeholder="Mother Name">
                    </div>
                    <label for="ward" class="col-2 col-form-label col-form-label">Ward :</label>
                    <div class="col-4">
                        <input formControlName="age" class="form-control form-control" id="ward" placeholder="Ward">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="diagnose" class="col-2 col-form-label col-form-label">Diagnose :</label>
                    <div class="col">
                        <input formControlName="diagnose" class="form-control form-control" id="diagnose"
                            placeholder="Diagnose, If Any">
                    </div>
                </div>
            </div>
            <h6 class="card-header">Doctor Details</h6>
            <div class="card-body">
                <div class="form-group row py-2">
                    <label for="doc_name" class="col-2 col-form-label col-form-label">Name :</label>
                    <div class="col-6">
                        <input formControlName="doctorName" class="form-control form-control" id="doc_name"
                            placeholder="Name">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="doc_contact" class="col-2 col-form-label col-form-label">Contact :</label>
                    <div class="col-6">
                        <input formControlName="doctorContact" class="form-control form-control" id="doc_contact"
                            placeholder="Contact">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="doctorDesignation" class="col-2 col-form-label col-form-label">Designation :</label>
                    <div class="col-6">
                        <input formControlName="doctorDesignation" class="form-control form-control"
                            id="doctorDesignation" placeholder="Designation">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-left my-4">
            <button type="submit" class="btn mx-2 col-3" [disabled]="babyForm.value.disableSubmit">
                @if(babyForm.value.disableSubmit){
                    <div class="spinner-border text-light mx-3" role="status"></div>
                } @else {
                    @if(type === "NEW"){
                    <i class="bi bi-plus"></i> Add Recipient
                    } @else {
                    <i class="bi bi-pencil"></i> Update Recipient
                    }
                }
            </button>
            <button type="button" routerLink="/recipient" class="btn mx-2  col-1">Back</button>
        </div>
    </form>

</div>