
// .ma-sidebar {
//     display: grid;
//     grid-template-rows: auto auto auto 1fr auto;
// }

.nav-item:hover {
    background-color: var(--ma-brown-50);
}
.nav-item.active {
    background-color: var(--ma-brown-50);
}

.menu{
    cursor: pointer;
}

.home{
    font-weight: 700;
}
.navbar{
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: white;
    --bs-navbar-brand-font-size: 1rem;
    --bs-navbar-color: white;
    --bs-navbar-hover-color: white;
}

.navbar-nav{
    width: 100%;
}