<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-2 p-0 ma-bg-brown text-light d-flex flex-column">
            <nav (click)="home()" class="navbar my-2 menu d-flex align-items-center justify-content-center">
                <img src="icons/mage_hospital-shield.png" class="img-fluid px-2" alt="Home Page">
                <h5 class="home m-0">Maatru Amrit</h5>
            </nav>
            <hr>
            <nav class="navbar text-center">
                <ul class="navbar-nav">
                    @if(userRole === 'ADMIN'){
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link d-flex" routerLink="hospital">
                            <img src="icons/ri_hospital-line.png" class="img-fluid px-2" alt="Hospital List">
                            <!-- <i class="bi bi-hospital px-2"></i> -->
                            <div>Hospital List</div>
                        </a>
                    </li>
                    <hr class="my-1">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link d-flex" routerLink="hospital/new">
                            <img src="icons/lsicon_hospital-outline.png" class="img-fluid px-2" alt="Add Hospital">
                            <!-- <i class="bi bi-shield-plus px-2"></i> -->
                            <span>New Hospital</span>
                        </a>
                    </li>
                    <hr class="my-1">
                    } @else {
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link d-flex" routerLink="/mother">
                            <!-- <i class="bi bi-shield-plus px-2"></i> -->
                            <img src="icons/icon-park-outline_women.png" class="img-fluid px-2" alt="Mother List">
                            <span>Mother List</span>
                        </a>
                    </li>
                    <hr class="my-1">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link d-flex" routerLink="/batch">
                            <!-- <i class="bi bi-shield-plus px-2"></i> -->
                            <img src="icons/ri_hospital-line.png" class="img-fluid px-2" alt="Batch List">
                            <span>Batch List</span>
                        </a>
                    </li>
                    <hr class="my-1">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link d-flex" routerLink="/recipient">
                            <!-- <i class="bi bi-shield-plus px-2"></i> -->
                            <img src="icons/hugeicons_baby-02.png" class="img-fluid px-2" alt="Recipient List">
                            <span>Recipient List</span>
                        </a>
                    </li>
                    <hr class="my-1">
                    }
                </ul>
            </nav>

            <!-- Logout Section at Bottom -->
            <div type="button" class="mt-auto nav-item d-flex py-2" (click)="logout()">
                <img src="icons/heroicons-outline_logout.png" class="img-fluid px-2" alt="Add Hospital">
                <span>Logout</span>
            </div>
            <hr class="mb-5 mt-0">

        </div>
        <div class="col-10 p-0 ma-bg-gray">
            <router-outlet />
        </div>
    </div>
</div>
<div id="printBarcodeSection" class="d-none">
    <svg id="generateBarcodeSection"></svg>
</div>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>